// ——————————————————————————————————————————————————————————————————————————————
// This file contains all available variables
// ——————————————————————————————————————————————————————————————————————————————

// Typography (uses safe web fonts & scale 1.333 - Perfect Fourth)
// ——————————————————————————————————————————————————————————————————————————————
$font-display: 'Poppins', 'Century Gothic', 'Arial', sans-serif;
$font-text:    'Inter', 'Segoe UI', 'Calibri', sans-serif;

$font-xs:  0.563rem; // 9.00px
$font-sm:  0.75rem;  // 12.00px
$font-md:  1rem; 	 // 16px
$font-lg:  1.333rem; // 21.33px
$font-xl:  1.777rem; // 28.43px
$font-2xl: 2.369rem; // 37.90px
$font-3xl: 3.157rem; // 50.52px
$font-4xl: 4.209rem; // 67.34px

// Border
// ——————————————————————————————————————————————————————————————————————————————
$border-xm: 0.063rem; // 1px
$border-sm: 0.188rem; // 3px
$border-md: 0.375rem; // 6px
$border-lg: 0.5rem;   // 8px
$border-xl: 0.875rem; // 14px

// Radius
// ——————————————————————————————————————————————————————————————————————————————
$radius-xm:   0.125rem; // 2px
$radius-sm:   0.25rem; 	// 4px
$radius-md:   0.375rem; // 6px
$radius-lg:   0.5rem;   // 8px
$radius-xl:   0.75rem;  // 12px
$radius-full: 999px;

// Spacing
// ——————————————————————————————————————————————————————————————————————————————
$spacing-1:  0.063rem; // 1px
$spacing-2:  0.125rem; // 2px
$spacing-3:  0.25rem;  // 4px
$spacing-4:  0.375rem; // 6px
$spacing-5:  0.5rem;   // 8px
$spacing-6:  0.625rem; // 10px
$spacing-7:  0.75rem;  // 12px
$spacing-8:  0.875rem; // 14px
$spacing-9:  1rem; 	   // 16px
$spacing-10: 1.25rem;  // 20px
$spacing-11: 1.5rem;   // 24px
$spacing-12: 1.75rem;  // 28px
$spacing-13: 2rem; 	   // 32px
$spacing-14: 2.25rem;  // 36px
$spacing-15: 2.5rem;   // 40px
$spacing-16: 2.75rem;  // 44px
$spacing-17: 3rem; 	   // 48px
$spacing-18: 3.5rem;   // 56px
$spacing-19: 4rem;     // 64px
$spacing-20: 5rem;     // 80px
$spacing-21: 6rem;     // 96px
$spacing-22: 7rem;     // 112px
$spacing-23: 8rem;     // 128px
$spacing-24: 9rem;     // 144px
$spacing-25: 10rem;    // 160px

// Container
// ——————————————————————————————————————————————————————————————————————————————
$box-xm: 0px;
$box-sm: 0px;
$box-md: 0px;
$box-lg: 0px;
$box-xl: 0px;

// Icon
// https://www.quora.com/What-is-Icon-s-optimal-size-and-space
// ——————————————————————————————————————————————————————————————————————————————
$icon-xm:  1.125rem; // 18px
$icon-sm:  1.5rem;   // 24px
$icon-md:  2rem;     // 32px
$icon-lg:  3rem;     // 48px
$icon-xl:  4rem;     // 64px
$icon-2xl: 6rem;     // 96px

// Gap
// ——————————————————————————————————————————————————————————————————————————————
$gap-sm: 0.625rem; // 10px
$gap-md: 0.875rem; // 14px
$gap-lg: 1.25rem;  // 20px

// Width
// ——————————————————————————————————————————————————————————————————————————————
$width-md: 0rem;

// Breakpoints
// ——————————————————————————————————————————————————————————————————————————————
$breakpoints: (
	'sm': 320px,
	'md': 768px,
	'lg': 1024px
);

// Transitions
// ——————————————————————————————————————————————————————————————————————————————
$duration-25: 	25ms;
$duration-50: 	50ms;
$duration-75: 	75ms;
$duration-100: 100ms;
$duration-150: 150ms;
$duration-200: 200ms;